KEYCLOAK_CLIENT_SECRET=client_secret
KEYCLOAK_CLIENT_ID=client_id
KEYCLOAK_URL=http://keycloak:8080
#KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=realm_name

DATABASE_URL=mysql2://user:password@db:3306/db_name
DATABASE_USERNAME=db_user_name
DATABASE_PASSWORD=db_password
DATABASE_NAME=db_name
